body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*France*/
#showcase3 {
    background: url(images/le\ louvre.jpeg) no-repeat center center/cover;
    padding: 0 0;
    height: 500px;
}
#showcase3 .showcase-content {
    color: #ce7979;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 20px;
    line-height: 1.7em;
}

/*Destination*/
.destination {
    color: #ce7979;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.7em;
    background-color: rgb(71, 49, 213);
}

/*Carousel*/
.carousel-item {
    min-height: 100%;
}
.carousel-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/*Button*/
.btn {
    display: inline-block;
    font-size: 18px;
    color: rgb(145, 46, 46);
    background:  #FFC0CB;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: burlywood;
    color: #333;
}

.btn-light {
    background: #e98db3d0;
    color: white;
}

/*FOOTER*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 2em;
    padding: 1em;
    border-top: 1px #eeeded solid;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.footer_content p {
    color: #6a6a6a;
    margin-right: 1em;
    text-align: center;
    padding-top: 10px;
}

.footer_links {
    list-style: none;
    padding-top: 10px;
}

.footer_links li {
    display: inline;
    margin-right: 1em;
}

.footer_links li a{
    color: #6a6a6a;     
}

.footer_links li a:hover {
    color: black;
}

.icon_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.icon_footer a{
    color: #6a6a6a;
    margin-left: 0.625em;
}

.icon_footer a:hover {
    color: black;
}



@media (min-width: 350px) {
    .footer_content {
        flex-direction: row;
    }

    .footer_content p {
        text-align: center;
        }

    .footer_links li {
        margin-right: 1em;
    }

    .icon_footer {
        margin: 0 1em;
    }
}